$base-green:#1c6132;
$white:#fff;
$cell-border:#f0f0f0;
$count_of_replies:#9e78c0;
$count_of_visits:#b4b4b4;
$title-panel:#f6f6f6;
$body-color:#e1e1e1;

.col_dark{
  color:#778087;
}
.col_fade{
  color:#1c6132;
}
.col_blue{
  color:#08c;
}
